:root {
    --color-black:#242424;
    --color-white:#ffffff;
}

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body {
    background-color: #242424;
}
header {
    display: flex;
    margin: auto; /*Top, right, bottom and left margin */
    /*padding: 10px; /*Same margin*/
    background-color: var(--color-black);
    justify-content: space-between;
    align-items: center;
}
#logo{
    width: 10%;
    margin-left: 20px;
    padding: 5px 5px;
}

.nav {
    width: 100%;
    padding: 10px 10px;
    background-color: #242424; 
}

.container-fluid form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

#icononav {
    font-size: 1rem; 
    color: white;
}

#formulario form{
    position: absolute;
    top: 10%;   

}

#registro form {
    position: absolute;
    top: -15%; 
}

/*
#menuprincipal {
    width: 100%;
    padding: 10px 10px;
    background-color: #242424;
}

#menuprincipal li {
    display: inline-flex;
    height: 30px;
    padding: 15px 10px 0px 10px;
    margin-right: 10px; 
    float: right;
}

#menuprincipal li:hover {
    border-bottom: 3px solid  #f1ede9;
}

#menuprincipal a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #f1ede9;
    text-decoration: none; /*Remove underline

} 

.boxmain img{
    width: 100%;
    height: auto;
  }
  @supports(object-fit: cover){
      .box img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
  } */
#cardbook {
    padding: 30px 10px;
    margin: auto;
}

 footer {
   /* position: absolute;*/
    width: 100%;
    height: auto; 
    background-color: #2d6a4f;   
  }

footer li{
  list-style: none;   /*Quitar los puntos de los items*/

}

/* .wrap-footer{
    display: grid;
    grid-template-columns: 30% 15% 15% 20%;
    column-gap: 5%;
    padding: 1rem;
    margin: 2rem auto;
    max-width: 1200px;
  }
*/
#fcol2 a {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 15px;
    color: #f1ede9;
    text-decoration: none; /*Remove underline*/

}

#fcol3 a {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 15px;
    color: #f1ede9;
    text-decoration: none; /*Remove underline*/

}




footer .col {
    padding-top: 20px;
}
#iconorrss{
    font-size: 1.5rem; 
    color: white;
    padding: 20px 10px;    
}

